/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2c06af");

/* font-family:'Avenir LT W01 95 Black'; */

  
@font-face {font-family: 'TideSans-400LilDude';src: url('/GOPEP/webfonts/2C06AF_0_0.eot');src: url('/GOPEP/webfonts/2C06AF_0_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_0_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-100LilBunny';src: url('/GOPEP/webfonts/2C06AF_1_0.eot');src: url('/GOPEP/webfonts/2C06AF_1_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_1_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-300LilKahuna';src: url('/GOPEP/webfonts/2C06AF_2_0.eot');src: url('/GOPEP/webfonts/2C06AF_2_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_2_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-500Dudette';src: url('/GOPEP/webfonts/2C06AF_3_0.eot');src: url('/GOPEP/webfonts/2C06AF_3_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_3_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-200LilMondo';src: url('/GOPEP/webfonts/2C06AF_4_0.eot');src: url('/GOPEP/webfonts/2C06AF_4_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_4_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-400LilDudeItalic';src: url('/GOPEP/webfonts/2C06AF_5_0.eot');src: url('/GOPEP/webfonts/2C06AF_5_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_5_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-600Bunny';src: url('/GOPEP/webfonts/2C06AF_6_0.eot');src: url('/GOPEP/webfonts/2C06AF_6_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_6_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-300LilKahunaItalic';src: url('/GOPEP/webfonts/2C06AF_7_0.eot');src: url('/GOPEP/webfonts/2C06AF_7_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_7_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-500DudetteItalic';src: url('/GOPEP/webfonts/2C06AF_8_0.eot');src: url('/GOPEP/webfonts/2C06AF_8_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_8_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-100LilBunnyItalic';src: url('/GOPEP/webfonts/2C06AF_9_0.eot');src: url('/GOPEP/webfonts/2C06AF_9_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_9_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-600BunnyItalic';src: url('/GOPEP/webfonts/2C06AF_A_0.eot');src: url('/GOPEP/webfonts/2C06AF_A_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_A_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-200LilMondoItalic';src: url('/GOPEP/webfonts/2C06AF_B_0.eot');src: url('/GOPEP/webfonts/2C06AF_B_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_B_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-700Mondo';src: url('/GOPEP/webfonts/2C06AF_C_0.eot');src: url('/GOPEP/webfonts/2C06AF_C_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_C_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-800Kahuna';src: url('/GOPEP/webfonts/2C06AF_D_0.eot');src: url('/GOPEP/webfonts/2C06AF_D_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_D_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-700MondoItalic';src: url('/GOPEP/webfonts/2C06AF_E_0.eot');src: url('/GOPEP/webfonts/2C06AF_E_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_E_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-800KahunaItalic';src: url('/GOPEP/webfonts/2C06AF_F_0.eot');src: url('/GOPEP/webfonts/2C06AF_F_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_F_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_F_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-900Dude';src: url('/GOPEP/webfonts/2C06AF_10_0.eot');src: url('/GOPEP/webfonts/2C06AF_10_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_10_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_10_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TideSans-900DudeItalic';src: url('/GOPEP/webfonts/2C06AF_11_0.eot');src: url('/GOPEP/webfonts/2C06AF_11_0.eot?#iefix') format('embedded-opentype'),url('/GOPEP/webfonts/2C06AF_11_0.woff') format('woff'),url('/GOPEP/webfonts/2C06AF_11_0.ttf') format('truetype');}
 